.card {
  position: relative;
  transition: 0.3s;
  transform-style: preserve-3d;
}

.card .front,  .card .back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 1rem;
  backface-visibility: hidden;
  border: 1px solid #864601;

  /* box shadow */
  box-shadow: 0px 6px 5px 0px #864601;
  -webkit-box-shadow: 0px 6px 5px 0px #864601;
  -moz-box-shadow: 0px 6px 5px 0px #864601;
}

.card .front {
  background: #e7a61a;
  color: #864601;
  z-index: 2;
  transform: rotateY(0deg);
}

.card[data-stress-status="FLIPPED"], .card[data-stress-status="MATCHED"], .card[data-stress-status="UNMATCHED"], .back{
  transform: rotateY(180deg);
}

.card[data-stress-status="MATCHED"] .back{
  background-color: hsl(101, 70%, 55%);
}

.card[data-stress-status="UNMATCHED"] .back {
  background: hsl(0, 91%, 42%);
}
